/*
	Orange: F78F31
	Purpple: 6A2569
	Green: 11AA58
	Magenta: B11C54
	Blue: 1A73BA
	Lime: B5B935
	Pink: EF5BA1
	Brown: 5E3E2A
	Red: EE312D
*/

@font-face {
	font-family: 'Franklin Gothic Book';
	font-style: normal;
	font-weight: normal;
	src: local('Franklin Gothic Book'), url('assets/fonts/FRABK.woff') format('woff');
}


@font-face {
	font-family: 'Franklin Gothic Book Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Franklin Gothic Book Italic'), url('assets/fonts/FRABKIT.woff') format('woff');
}

body {
	font-family: 'Franklin Gothic Book';
	color: white;
}

h3 {
	border-bottom: 2px solid rgba(255, 255, 255, 0.5);;
}

hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.slide-content {
	margin-top: 10px;
}

.slide {
	background-color: #6A2569;
}

/* Bg colors */
.orange{
	background-color: #F78F31;
}
.purpple{
	background-color: #6A2569;
}
.green{
	background-color: #11AA58;
}
.magenta{
	background-color: #B11C54;
}
.blue{
	background-color: #1A73BA;
}
.lime{
	background-color: #B5B935;
}
.pink{
	background-color: #EF5BA1;
}
.brown{
	background-color: #5E3E2A;
}
.red{
	background-color: #EE312D;
}
